@import url('/public/css/app.css');

.gallery {
  width: 90%;
  margin: 100px 5%;
  position: relative;
}

.gallery > .h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.gallery > .slider > .div {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.gallery > .slider > .arrow-prev,
.gallery > .slider > .arrow-next {
  font-size: 28px;
  position: absolute;
  transition: all 600ms ease;
  top: 50%;
  color: #fff;
}

.gallery > .slider > .arrow-prev:hover,
.gallery > .slider > .arrow-next:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.gallery > .slider > .arrow-prev {left: -50px}

.gallery > .slider > .arrow-next {right: -50px}

